{% extends 'ramblr/base/base.html' %}
<!--  -->
{% block title %} {% endblock title %}
<!--  -->
{% block head %} {% endblock head %}
<!--  -->


{% block layout %}
    <style>

   .parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }

   .visual {
    height: 100px;
    width: 100%;
  }
.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }


    </style>


  <div class="parent white">
      {% block content%}
    <div class="card yellow">
      <h3>Title - Card 1</h3>
      <p contenteditable>Medium length description with a few more words here.</p>
      <div class="visual pink"></div>
    </div>
    <div class="card yellow">
      <h3>Title - Card 2</h3>
      <p contenteditable>Long Description. Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      <div class="visual blue"></div>
    </div>
    <div class="card yellow">
      <h3>Title - Card 3</h3>
      <p contenteditable>Short Description.</p>
      <div class="visual green"></div>
    </div>
      {%endblock content %}
  </div>
    <!--  -->

<!--  -->
{% endblock layout %}
<!--  -->
{% block javascript %} {% endblock javascript %}
<!--  -->
