{% extends 'website/base/base.html' %}
<!--  -->
{% block title %} {% endblock title %}
<!--  -->
{% block head %}

{% endblock head %}
<!--  -->

{% block layout %}
    <style>

        .parent {
            display: grid;
            grid-template-rows: auto 1fr auto;
        }

    </style>


    <div class="parent">
        <header class="has-background-primary section" contenteditable>
            {% block header %} Header Content{% endblock header %}
        </header>

        <main class="section" contenteditable>
            {% block content %}

            {% endblock content %}
        </main>

        <footer class="section" contenteditable>         {% include "website/base/includes/footer.html" %}

        </footer>
    </div>

    <!--  -->
{% endblock layout %}
<!--  -->
{% block javascript %} {% endblock javascript %}
<!--  -->